@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$blue: #33658a;
$cyan: #86bbd8;
$dark-green: #081c15;
$darkish-green: #1b4332;
$green: #52b788;
$lightish-green: #95d5b2;
$light-green: #b7e4c7;
$orange: #f26419;
$yellow: #f6ae2d;
$background: #d8f3dc;

// GLOBAL STYLES

html {
  background-color: $background;
}

body {
  height: 100vh;
  font-family: Inter, sans-serif;
}

.title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: 400;
  margin-bottom: 2rem;
}

.section {
  padding: 4rem 0;
}

.scrollable {
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.not-scrollable {
  overflow-y: hidden;
  height: 100vh;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.has-background-green {
  background-color: $dark-green;
}

.has-background-default {
  background-color: $background;
}

input:hover {
  border-color: $green !important;
}

input:focus {
  border-color: $green !important;
  box-shadow: 0 0 0 1px $green !important;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

a.nolink {
  color: inherit;
  text-decoration: inherit;
}

button.link {
  border: none;
  background-color: transparent;
  color: $link;

  &:hover {
    color: $link-hover;
  }
}

button.is-green {
  background-color: $green;
  color: $white;

  &:hover {
    background-color: #74c69d;
    color: $white;
  }
}

.footer {
  background-color: $black;
  color: $grey-light;
  padding: 40px 20px;

  .column {
    .label {
      font-weight: 700;
      color: $grey-light;
    }
    a {
      color: inherit;
    }
  }
}

// NAVIGATION

.has-navbar-fixed-top {
  padding-top: 58px;
}

.navbar {
  border-bottom: 2px solid #e8e8e8;
  height: 58px;
}

.navbar-brand {
  align-items: center;
  display: flex;
  padding-left: 16px;
}

#navigation-logo {
  vertical-align: middle;
  height: 30px;
}

// HOME PAGE

.buttons {
  margin-top: 2rem;
}

.is-flex {
  word-break: keep-all;
}

.hero-img {
  max-height: 33vw;
  max-width: 33vw;
}

.home-hero {
  background-color: $dark-green;
}

.benefits {
  background-color: $background;
}

.benefits img {
  max-height: 512px;
  max-width: 512px;
  height: 40vh;
  width: auto;
}

.blurb {
  max-width: 40vw;
}

.section.benefits .box {
  height: 100%;
  border-radius: 3vh;
  padding: 5vh 5vw;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
}

// LOGIN & SIGNUP

.login {
  background-color: $white;
  padding: 2rem;
  border-radius: 10px;
}

.field:not(:last-child) {
  margin-bottom: 1rem;
}

.register {
  background-color: $white;
  max-width: $tablet;
  border-radius: 10px;
  padding: 2rem;
}

.left {
  @include from($tablet) {
    border-right: 2px solid $background;
    border-radius: 1px;
  }

  @include from($tablet) {
    padding-right: 2rem;
  }

  p {
    color: $text;
    font-size: 1.2rem;
  }

  .title {
    letter-spacing: -1px;
  }

  .colored {
    color: $background;
    font-weight: 500;
    margin-top: 1rem !important;
  }
}

.right {
  @include from($tablet) {
    padding-left: 2rem;
  }

  .title {
    letter-spacing: -1px;
  }

  .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: $text;
    font-size: 1.15rem;
  }

  small {
    color: $text;
  }
}

//ERROR PAGE
.error-img {
  max-width: 256px;
  height: auto;
}

.error-box {
  max-width: 50vw;
}

//LOADING PAGE
.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 80px;
    width: 80px;
  }
}

// FEED PAGE
.feed {
  height: 100vh;

  .compose {
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    .control {
      width: 100%;
      margin-left: 12px;

      textarea {
        padding: 0;
        border-color: transparent;
        resize: none;
        box-shadow: none !important;
      }

      textarea[rows] {
        height: initial;
      }
    }
  }

  .columns {
    height: 100vh;
    overflow: hidden;

    .column.scrollable {
      padding: 30px 10px 30px 10px;
    }

    .column.sidebar-left {
      padding: 30px 10px 30px 30px;

      .box {
        width: 100%;
      }
    }

    .column.sidebar-right {
      padding: 30px 30px 30px 10px;

      .box {
        width: 100%;
      }

      .neighbor-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0.75rem;
        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }
        div {
          margin-left: 12px;

          a {
            color: $grey-dark;
            font-weight: 600;
            display: block;
          }
          a:hover {
            text-decoration: underline;
          }
          p {
            color: $grey-light;
            font-size: smaller;
          }
        }
      }
    }
  }
}

.maps-selector input {
  box-shadow: none !important;
}

.card.publish {
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  margin-bottom: 0.75rem;

  .options {
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #dbdbdb;
    background-color: #fcfcfc;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      flex-shrink: 0;
    }
  }

  .tabs {
    border-radius: 6px 6px 0 0;
    margin-bottom: 8px;

    ul {
      border-radius: 6px 6px 0 0;

      li {
        border-radius: 6px 6px 0 0;
        background-color: #fcfcfc;

        a {
          border-radius: 6px 6px 0 0;
        }
      }

      li.is-active {
        a {
          span {
            color: #494949;
            i {
              color: #40916c;
            }
          }
        }
      }
    }
  }
}

.post:not(:last-child) {
  margin-bottom: 0.75rem;
}

.post {
  padding: 20px;
  border-radius: 6px;
}

div.post-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .author-info {
    margin-left: 12px;

    p.post-time {
      color: $grey-light;
      font-size: smaller;
    }

    a {
      color: $grey-dark;
      font-weight: 600;
      display: block;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

img.avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

span.is-fullwidth {
  width: 100%;
}
