@charset "utf-8";

@import "variables";
@import "../../node_modules/bulma/bulma.sass";
@import "overrides";

// GLOBAL STYLES

html {
  background-color: $background;
}

body {
  height: 100vh;
}

.title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: 400;
  margin-bottom: 2rem;
}

.section {
  padding: 4rem 0;
}

.scrollable {
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.not-scrollable {
  overflow-y: hidden;
  height: 100vh;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.has-background-green {
  background-color: $green;
}

.has-background-default {
  background-color: $background;
}

input:hover {
  border-color: $grey-dark !important;
}

input:focus {
  border-color: $grey-dark !important;
  box-shadow: 0 0 0 1px $grey-dark !important;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

a.nolink {
  color: inherit;
  text-decoration: inherit;
}

button.link {
  border: none;
  background-color: transparent;
  color: $link;

  &:hover {
    color: $link-hover;
  }
}

button.is-orange {
  background-color: $orange;
  color: $white;

  &:hover {
    background-color: rgba($orange, 0.9);
    color: $white;
  }
}

.modal .message {
  .message-header {
    width: 100%;
    p {
      font-size: larger;
      margin: 0 auto;
      text-align: center;
    }
  }
  .message-body {
    font-size: medium;
  }
}

// FOOTER

.footer {
  background-color: $black;
  color: $grey-light;
  padding: 40px 20px;

  .column {
    .label {
      font-weight: 700;
      color: $grey-light;
    }
    a {
      color: inherit;
    }
  }
}

// NAVIGATION

.has-navbar-fixed-top {
  padding-top: 58px;
}

.navbar {
  border-bottom: 2px solid #e8e8e8;
  height: 58px;
}

.navbar-brand {
  align-items: center;
  display: flex;
  padding-left: 16px;
}

#navigation-logo {
  vertical-align: middle;
  height: 30px;
}

// HOME PAGE

.buttons {
  margin-top: 2rem;
}

.is-flex {
  word-break: keep-all;
}

.hero-img {
  max-height: 33vw;
  max-width: 33vw;
}

.home-hero {
  background-color: $green;
  .title {
    color: $white;
  }
  .subtitle {
    color: $white-ter;
  }
}

.benefits {
  background-color: $background;
}

.benefits img {
  max-height: 512px;
  max-width: 512px;
  height: 40vh;
  width: auto;
}

.blurb {
  max-width: 40vw;
}

.section.benefits .box {
  height: 100%;
  border-radius: 3vh;
  padding: 5vh 5vw;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
}

// LOGIN & SIGNUP

.login {
  background-color: $white;
  padding: 2rem;
  border-radius: 10px;
}

.field:not(:last-child) {
  margin-bottom: 1rem;
}

.register {
  background-color: $white;
  max-width: $tablet;
  border-radius: 10px;
  padding: 2rem;
}

.left {
  @include from($tablet) {
    border-right: 2px solid $background;
    border-radius: 1px;
  }

  @include from($tablet) {
    padding-right: 2rem;
  }

  p {
    color: $text;
    font-size: 1.2rem;
  }

  .title {
    letter-spacing: -1px;
  }

  .colored {
    color: $background;
    font-weight: 500;
    margin-top: 1rem !important;
  }
}

.right {
  @include from($tablet) {
    padding-left: 2rem;
  }

  .title {
    letter-spacing: -1px;
  }

  .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: $text;
    font-size: 1.15rem;
  }

  small {
    color: $text;
  }
}

//ERROR PAGE
.error-img {
  max-width: 256px;
  height: auto;
}

.error-box {
  max-width: 50vw;
}

//LOADING PAGE
.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 80px;
    width: 80px;
  }
}

// FEED PAGE
.feed {
  height: 100vh;

  .compose {
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    .control {
      width: 100%;
      margin-left: 12px;

      textarea {
        padding: 0;
        border-color: transparent;
        resize: none;
        box-shadow: none !important;
      }

      textarea[rows] {
        height: initial;
      }
    }
  }

  .columns {
    height: 100vh;
    overflow: hidden;

    .column.scrollable {
      padding: 30px 10px 30px 10px;
    }

    .column.sidebar-left {
      padding: 30px 10px 30px 30px;

      .box {
        width: 100%;
      }
    }

    .column.sidebar-right {
      padding: 30px 30px 30px 10px;

      .box {
        width: 100%;
      }

      .neighbor-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0.75rem;
        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }
        div {
          margin-left: 12px;

          a {
            color: $grey-dark;
            font-weight: 600;
            display: block;
          }
          a:hover {
            text-decoration: underline;
          }
          p {
            color: $grey-light;
            font-size: smaller;
          }
        }
      }
    }
  }
}

.maps-selector input {
  box-shadow: none !important;
}

.card.publish {
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  margin-bottom: 0.75rem;

  .options {
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #dbdbdb;
    background-color: #fcfcfc;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      flex-shrink: 0;
    }
  }

  .tabs {
    border-radius: 6px 6px 0 0;
    margin-bottom: 8px;

    ul {
      border-radius: 6px 6px 0 0;
      font-weight: 600;

      li {
        border-radius: 6px 6px 0 0;
        background-color: #fcfcfc;

        a {
          border-radius: 6px 6px 0 0;
        }
      }

      li.is-active {
        a {
          span {
            color: #494949;
          }
        }
      }
    }
  }
}

.sidebar {
  .menu {
    a.is-active {
      background-color: $light-green;
    }
  }
}

.post {
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 0.75rem;
  &:last-child {
    margin-bottom: 1.5rem;
  }

  .post-top {
    display: flex;
    margin-bottom: 20px;
  }

  .post-avatar {
    flex: initial;
    height: 100%;
  }

  .post-content {
    flex: 1;
    margin-left: 16px;
  }

  .card-heading {
    padding-bottom: 12px;
  }

  .card-content {
    padding: 0;
    text-align: left;
  }

  .gallery {
    max-height: 1024px;
    height: 512px;
  }

  .post-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p.post-time {
      color: $grey-light;
      font-size: smaller;
    }

    a {
      color: $grey-dark;
      font-weight: 600;
      display: block;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

img.avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

span.is-fullwidth {
  width: 100%;
}

// CONTACT PAGE

.contact-hero {
  .social-media {
    margin-top: 30px;
    a {
      font-size: 3rem;
      margin-right: 20px;
      i {
        color: $link;
      }
    }
  }
  .contact-field:not(:last-child) {
    margin-bottom: 20px;
  }
}

// PROFILE PAGE
.section.user-profile {
  padding-top: 16px;

  .user-cover > img {
    display: block;
    max-height: 300px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .top {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-width: 30%;
      padding: 0 20px;
      height: 64px;
      margin-bottom: 8px;
    }
    .bottom {
      flex-grow: 2;
      div {
        margin: 0 auto;
        text-align: center;
      }
      .stats {
        color: $grey-light;
        p {
          padding: 0;
          margin: 4px 0;
        }
        span:not(.icon) {
          margin: 0 12px;
        }
      }
    }
  }

  .user-avatar {
    position: absolute;
    top: -64px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 128px;
    width: 128px;
    img {
      height: 128px;
      width: 128px;
      border-radius: 50%;
      border: 5px solid $white;
      box-shadow: 0 0 0 1px $green;
    }
  }
}

.user-posts {
  padding: 0 !important;

  .post-feed {
    max-width: 700px;
    margin: 0 auto;
  }
}
