@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$bg: #6a994e;

$blue: #33658a;
$cyan: #86bbd8;
$dark-green: #386641;
$green: #758e4f;
$orange: #f26419;
$yellow: #f6ae2d;
$family-sans-serif: "Open Sans", sans-serif;

// GLOBAL STYLES

html {
  background-color: $green;
}

body {
  height: 100vh;
}

// HOME PAGE

.hero-img {
  max-height: 33vw;
  max-width: 33vw;
}

.home-hero {
  background-color: $green;
}

.max-quarter {
  max-width: 33vh;
  max-height: 33vh;
}

.benefits {
  background-color: $background;
}

.section.benefits .box {
  height: 100%;
  border-radius: 3vh;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.has-background-green {
  background-color: $green;
}

.has-background-default {
  background-color: $background;
}

.bold-button {
  border-width: 4px;
}

.footer .menu p {
  font-weight: bold;
  color: $black;
}

.footer .menu a {
  color: $grey-dark;
}

.footer .menu a:hover {
  text-decoration: underline;
}

// LOGIN & SIGNUP

.login {
  background-color: $white;
  padding: 2rem;
  border-radius: 10px;
}

.field:not(:last-child) {
  margin-bottom: 1rem;
}

.register {
  background-color: $white;
  max-width: $tablet;
  border-radius: 10px;
  padding: 2rem;
}

.left .title {
  letter-spacing: -1px;
}

.left .colored {
  color: $bg;
  font-weight: 500;
  margin-top: 1rem !important;
}

.left p {
  color: $text;
  font-size: 1.2rem;
}

.right .title {
  letter-spacing: -1px;
}

.right .description {
  margin-top: 1rem;
  margin-bottom: 1rem !important;
  color: $text;
  font-size: 1.15rem;
}

.left {
  @include from($tablet) {
    border-right: 2px solid $background;
    border-radius: 1px;
  }
}

.left {
  @include from($tablet) {
    padding-right: 2rem;
  }
}

.right {
  @include from($tablet) {
    padding-left: 2rem;
  }
}

.right small {
  color: $text;
}

input:hover {
  border-color: $green !important;
}

input:focus {
  border-color: $green !important;
  box-shadow: 0 0 0 1px $green !important;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

button.link {
  border: none;
  background-color: transparent;
  color: $link;
}

button.link:hover {
  color: $link-hover;
}

//ERROR PAGE
.error-img {
  max-width: 256px;
  height: auto;
}

.error-box {
  max-width: 50vw;
}

//LOADING PAGE
.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 80px;
    width: 80px;
  }
}
